body {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(
    to right bottom, 
    rgba(245, 136, 111, 0.8), 
    rgba(87, 191, 233, 0.8));
  color: white;
  height: 100vh;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.nav-link {
  color: white;
  text-decoration: none;
  margin: 10px;
}
.nav-link:hover {
  color: #951111;
}
.footer {
  text-align: center;
}
.home-link {
  margin: 30px;
  left: 0;
  color:  white;
}
.home {
  text-align: center;
}
.name {
  letter-spacing: 10px;
  text-align: center;
  top: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger {
  width: 35px;
  margin: 30px;
}
.drop-down {
  display: flex;
  flex-direction: column;
}
.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}
.inactive {
  display: none;
}
.burger:hover {
  cursor: pointer;
}
.rotate {
  transform: rotate(90deg)
}
.projects {
  display: flex;
  justify-content: space-around;
}
.coinfox, .astral-plan, .worder {
  width: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 20px;
  margin: 20px;
}
.coinfox-gif {
  width: 300px;
}
.project-link {
  /* text-decoration: none; */
  color: white;
}
a {
  text-decoration: none;
}
.project-link:hover {
  color: #951111;
}