body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(253, 171, 171);
  color: black;
  height: 100vh;
  background-size: cover;
}
.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 0px 100px;
}
.nav-links {
  display: flex;
  margin-top: 90px;
}
.nav-link {
  color: black;
  text-decoration: none;
  margin: 10px;
  display: block;
  background-color: rgb(255, 217, 217);
  padding: 20px 10px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
}
.nav-link:hover {
  color: #951111;
}

.home {
  text-align: center;
}

@keyframes changeopacity {
  0%   { opacity:1; }
  30%  { opacity:0; }
  100% { opacity:1; }
}

.name {
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-family: 'Rouge Script', cursive;
  animation: opacity2 3s infinite;
  position: absolute;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}

@keyframes opacity2 {
  0% { opacity:0; }
  70% { opacity:1; }
  100% { opacity:0; }
}

.name2 {
  position: absolute;
  color: white;
  letter-spacing: 10px;
  animation: changeopacity 3s infinite;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}

.projects {
  display: flex;
  justify-content: space-around;
  margin: 70px 60px;
}
.coinfox, .astral-plan, .worder {
  width: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
  padding: 30px;
  margin: 20px;
  background-color: rgb(255, 217, 217);
}
.coinfox-gif {
  width: 300px;
}
.project-link {
  /* text-decoration: none; */
  color: #951111;
}
a {
  text-decoration: none;
}
.project-link:hover {
  color: black;
}

.about {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.about img {
  width: 40%;
  margin: 20px;
  box-shadow: 2px 2px 2px gray;
  border: 1px solid black;
}

.about p {
  width: 40%;
  margin: 20px;
  font-size: 20px;
  color: black;
  background-color: rgb(255, 217, 217);
  padding: 50px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home img {
  width: 50%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 25%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact p {
  margin-top: 80px;
  font-size: 40px;
  text-shadow: 3px 3px 2px rgb(255, 217, 217);
}

.contact img {
  width: 50%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 25%;
}
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
  .about p {
    width: 90%;
  }
  .about img {
    width: 90%;
  }
  .projects {
    flex-direction: column;
  }
  .nav-header {
    flex-direction: column;
  }
}